//
// Chrome
//

%chrome_title_buttons {
	min-height: 16px;
	min-width: 16px;
	padding: 2.5px;
	margin: 16px -20px 16px 22px;
}

window.background.chromium {
	box-shadow:
		$shadow-z16,
		0 0 36px transparent,
		0 0 0 1px rgba($border-color, 0.15);

	@if $border == 'true' {
		box-shadow:
			$shadow-z16,
			0 0 0 2px $primary,
			0 0 36px transparent;
	}

	&:backdrop {
		box-shadow:
			$shadow-z16,
			0 0 36px transparent,
			0 0 0 1px rgba($border-color, 0.15);
		transition: $transition-shadow;

		@if $border == 'true' {
			box-shadow:
				$shadow-z16,
				0 0 0 2px $border-color,
				0 0 36px transparent;
		}
	}

	headerbar.header-bar.titlebar {
		background-color: $titlebar;
		color: $text;
		border-radius: $window-radius 0 0;

		&:backdrop {
			box-shadow: none;
			background-color: $titlebar-backdrop;
			color: $titlebar-text-disabled;
		}

		button.titlebutton {
			@if $window_button == 'mac' {
				@extend %mac_window_button;
				@extend %chrome_title_buttons;
			} @else {
				@extend %normal_window_button;
				@extend %chrome_title_buttons;
			}
		}
	}
}
